# Copyright 2022-2026 David Corbett
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[tool.coverage.run]
branch = true
parallel = true
relative_files = true

[tool.coverage.report]
exclude_also = [
    "#[\t ]*type:[\t ]*ignore[\t\\v\f ]*\\[([^]#]*,)?\\s*unreachable\\s*(,[^]#]*)?\\]\\s*(#.*)?$",
    "^[\t\f ]*(case _:(\r\n?|\n)[\t\f ]*((#.*)?(\r\n?|\n)[\t\f ]*)*)?assert_never\\(\\b",
    "^[\t\f ]*(case _:(\r\n?|\n)[\t\f ]*((#.*)?(\r\n?|\n)[\t\f ]*)*)?raise ValueError\\b",
    "^[\t\f ]*@overload$",
    "^[\t\f ]*assert False(,|$)",
    "^[\t\f ]*def __repr__\\(",
    "^[\t\f ]*if TYPE_CHECKING:",
    "^[\t\f ]*raise NotImplementedError\\b",
]
fail_under = 91

[tool.mypy]
mypy_path = "$MYPY_CONFIG_FILE_DIR/typings"
enable_error_code = [
    "deprecated",
    "explicit-override",
    "ignore-without-code",
    "mutable-override",
    "narrowed-type-not-subtype",
    "redundant-expr",
    "redundant-self",
    "truthy-bool",
    "truthy-iterable",
    "unimported-reveal",
    "unused-awaitable",
]
allow_redefinition_new = true
disallow_any_explicit = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
exclude_gitignore = true
extra_checks = true
local_partial_types = true
no_implicit_reexport = true
strict_bytes = true
strict_equality = true
strict_equality_for_none = true
warn_redundant_casts = true
warn_return_any = true
warn_unreachable = true
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "cffsubr",
    "fontTools.misc.configTools",
    "fontTools.misc.transform",
    "fontTools.otlLib.builder",
]
follow_untyped_imports = true

[[tool.mypy.overrides]]
module = [
    "otf2ttf",
]
ignore_errors = true

[tool.ruff]
src = [".", "sources"]
target-version = "py312"

[tool.ruff.lint]
allowed-confusables = [
    # https://github.com/astral-sh/ruff/issues/3977
    "’",
]
exclude = [
    "sources/otf2ttf.py",
]
future-annotations = true
ignore = [
    # Not appropriate for this project
    "B011",
    "D200",
    "DOC502",
    "EM",
    "FBT002",
    "FIX001",
    "FIX002",
    "FURB154",
    "FURB189",
    "PLR5501",
    "PT015",
    "RET505",
    "RUF021",
    "S101",
    "S404",
    "S603",
    "S607",
    "SIM105",
    "SIM108",
    "SIM300",
    "TD001",
    "TD002",
    "TD003",
    # Too many false positives
    "D205",
    "PLR2004",  # https://github.com/astral-sh/ruff/issues/10009
    "PLW2901",  # https://github.com/astral-sh/ruff/issues/17951
    "SLF001",  # https://github.com/astral-sh/ruff/issues/9022
    "TRY003",  # https://github.com/astral-sh/ruff/issues/14398
    # Too many true positives
    "C901",
    "D1",
    "FBT001",
    "PLR09",
    "PLR1702",
]
preview = true
select = ["ALL"]

[tool.ruff.lint.flake8-builtins]
builtins-ignorelist = [
    "exit",
    "input",
]

[tool.ruff.lint.flake8-quotes]
inline-quotes = "single"
multiline-quotes = "single"

[tool.ruff.lint.flake8-tidy-imports.banned-api]
"typing.cast".msg = "Use a type annotation or `# type: ignore` instead"

[tool.ruff.lint.flake8-type-checking]
strict = true

[tool.ruff.lint.isort]
case-sensitive = true
force-single-line = true
force-sort-within-sections = true
known-third-party = ["fontforge"]
lines-after-imports = 2
no-lines-before = ["first-party"]
order-by-type = false
section-order = ["future", "standard-library", "third-party", "local-folder", "first-party"]

[tool.ruff.lint.pep8-naming]
extend-ignore-names = [
    # `fontforge.glyph` methods
    "addAnchorPoint",
    "boundingBox",
    "glyphPen",
    "removeOverlap",
    # `fontforge.glyphPen` methods
    "curveTo",
    "endPath",
    "lineTo",
    "moveTo",
]

[tool.ruff.lint.per-file-ignores]
"sources/charsets/data.py" = [
    # Shape definitions are more maintainable one per line.
    "E501",
]
"sources/phases/**" = [
    # Phases must all have the same signature.
    "ARG001",
]
"sources/shapes.py" = [
    # Shape classes are designed for inheritance. Even if a certain
    # method doesn’t use a certain argument, an override of it might.
    "ARG002",
    "PLR6301",
]
"tests/run-tests.py" = [
    # Test results must be output.
    "T20",
]
"**.pyi" = [
    # Third-party names cannot be changed.
    "A",
    "N",
]

[tool.ruff.lint.pycodestyle]
max-line-length = 169

[tool.ruff.lint.pydocstyle]
convention = "google"

[tool.uv.pip]
universal = true
upgrade = true
